.sidebarContent {
  margin-bottom: 10px;
  min-height: 150px;
  background-color: silver;
  text-align: center;
  font-size: large;
}

.mainContent {
  margin-bottom: 10px;
  min-height: 310px;
  background-color: silver;
  text-align: center;
  font-size: large;
}

.customDiv {
  margin-bottom: 10px;
  min-height: 50px;
  background-color: silver;
  text-align: center;
  font-size: large;
  padding: 10px;
}

hr {
  border: 1px solid red;
}
